
.website-button{
    background-color: #21B573;
    border-radius: 33px;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
}

li{
    padding-right:1rem;
}

.background-color{
    background-color: #F0FFF0;
}

.span-color{
    color: #21B573;
}

.bg-footer{
    background-color: #282531;
}

/* .carousel-control-prev{
    justify-content: flex-start;
}
.carousel-control-next{
    justify-content: flex-end;
} */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-next-icon:after{
    content: '>';
    font-size: 55px;
    color: black;
}

.carousel-control-prev-icon:after{
    content: '<';
    font-size: 55px;
    color: black;
}